<nav class="col-8">
    <ul class="nav nav-pills">
        <li class="nav-item nav-link">
            <a class="nav-link" 
            [routerLinkActive]="['active']" 
            [routerLink]="'inicio'" translate>Inicio</a>
        </li>
        <li class="nav-item nav-link">
            <a class="nav-link" 
            [routerLinkActive]="['active']" 
            routerLink="tareas" translate>Tareas</a>
        </li>
        <li class="nav-item nav-link">
            <a class="nav-link" 
            [routerLinkActive]="['active']" 
            routerLink="catalogo" translate>Catalogo</a>
        </li>
        <li class="nav-item nav-link">
            <a class="nav-link" 
            [routerLinkActive]="['active']" 
            routerLink="imprimir" translate>Imprimir</a>
        </li>
        <li class="nav-item nav-link">
            <a class="nav-link" 
            [routerLinkActive]="['active']"
            routerLink="about" translate>Acerca de</a>
        </li>
    </ul>
</nav>
