<div class="card">
    <div class="card-header">
        <h4 class="card-title">Probando directivas</h4>
    </div>
    <div class="card-body">
        <p class="card-text pl-4" appResaltar="Importante">informacio destadada</p>
    </div>
    <div class="card-body">
            <p class="card-text pl-4" appDestacar="Muy Importante">informacio destadada</p>
        </div>
    <div class="card-footer text-muted">
        Ejemplo del uso de una directiva propia
    </div>
</div>

<div class="card">
    <div class="card-header">
        Probando pipes
    </div>
    <div class="card-body">
        <p class="card-text pl-4">Titulo inicial</p>
        <p class="card-text pl-4">{{titulo}}</p>
        <p class="card-text pl-4">Texto inicial</p>
        <p class="card-text pl-4">{{texto}}</p>
    </div>
    <div class="card-footer text-muted">
        <p>Ejemplo del uso de pipes</p>
        <p>{{ titulo | capitalizar }}</p>
        <p>{{ texto | truncar: 29 }}</p>
    </div>
    <div class="card-footer text-muted">
        <p>Ejemplo del uso de pipes</p>
        <p>{{ titulo | capitalizar }}</p>
        <p>{{ texto | truncar: 29 }}</p>
    </div>
    <div class="card-footer text-muted">
        <p>Problema del pipe titlecase</p>
        <p>{{ titulo | titlecase }}</p>
        <p>{{ titulo | titularizar  }}</p>
    </div>
</div>
